body{
   margin-top: 50px;
   margin-bottom: 50px;
 
}
.shopname{
    text-align: center;
    font-size: 40px;
    letter-spacing: 1.2;
    line-height: 1.2;
}
.shopname span{
    font-size: 15px;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
    letter-spacing: 1.2;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul{
    text-align: center;
    margin-bottom: 50px;
}

.mainimg{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.mainimg img{
    width: 100%;
}

.h2style{
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 1.2;
}
.h2style span{
    font-size: 40px;
    border-bottom: 1px solid #000;
}

.about{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.about ul{
    overflow: hidden;
    padding: 0;
}
.about ul li{
   float: left;
    background-color: aliceblue;
    width: 32%;
    margin-right: 2%;
    list-style: none;

}
.about ul li:last-child{
    margin-right: 0;
}
.about ul li img{
    width: 100%;
    height: auto;
}
.about ul li h3{
    font-size: 15px;
    letter-spacing: 1.2;
    line-height: 0.8;
}
.about ul li p{
    font-size: 14px;
    letter-spacing: 1.2;
    
}
.news{

    margin-top: 50px;
}
.news table{
    margin-left: auto;
    margin-right: auto;
}

.news table tr td{
    padding-left: 15px;
}

.instagrambt{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
 
}
.instagrambt a{
    margin-top: 50px;
  background: #000;
    color:white;
    display: block;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}
.copyright p{
  text-align: center;
}

